.loginpage {
    margin-top: 20px;
    a {
        color: blue;
    }
    .btn4 {
        display: flex;
        justify-content: flex-end;
        button {
            padding: 10px;
            color: white;
            background-color: #26b4ff;
            font-size: 16px;
            border: none;
        }
    }
    ::ng-deep {
        .mat-form-field-appearance-legacy .mat-form-field-wrapper {
            width: 280px;
        }
        .mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
            background-color: #99bdef;
        }
    }
    // input{
    //     border-bottom: 1px solid;
    // }
}
@media screen and (max-width: 480px) {
    ::ng-deep {
        .mat-form-field-appearance-legacy .mat-form-field-wrapper {
            width: 161px !important;
        }
        // .mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
        //     background-color: #99bdef;
        // }
    }
    .btn4{
           margin-right: 80px;
    }

    
}
