<form [formGroup]="login">
    <div class="loginpage">
        <div>
            <label>Email</label><br>
            <mat-form-field class="example-full-width">
                <input type="email" matInput placeholder="Your Email" formControlName="email">
                <mat-error *ngFor="let error of errorMessage?.email">
                    <mat-error *ngIf="login?.get('email')?.hasError(error?.type)">
                        <mat-icon>warning</mat-icon>{{error.message}}
                    </mat-error>
                </mat-error>
            </mat-form-field>
            <div>
                <label>Password</label><br>
                <mat-form-field class="example-full-width">
                    <input type="password" matInput placeholder="Enter Password"
                        [type]="hide1 ? 'password' : 'text'" formControlName="password">
                    <mat-icon class="pointer" matSuffix (click)="hide1 = !hide1">
                        <span>{{hide1 ? 'visibility_off' : 'visibility'}}</span>
                    </mat-icon>
                    <mat-error *ngFor="let error of errorMessage?.password">
                        <mat-error *ngIf="login?.get('password')?.hasError(error?.type)">
                            <mat-icon>warning</mat-icon>{{error.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <a (click)="forgetpassword()">Forget Password?</a>
            <div class="btn4">
                <button (click)="loginnext()">
                    <i class="fa-solid fa-user-lock"></i>
                    Login
                </button>
            </div>
        </div>
    </div>
</form>
