.awards_birthday {
    // justify-content: space-between;
    // width: 100%;
    // min-width: 800px
    .appreciate {
        margin-top: 20px;
    }
    .awards {
        margin-top: 20px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        padding: 20px;
        color: black !important;
        // width: 300px;
        margin-bottom: 20px;
        .dots {
            display: flex;
        }
        .dear{
            font-family: "Lato";
            font-size: 12px;
            color: #606167;
            font-weight: 700;
            line-height: 1.9;
            margin-bottom: 10px;
        }
        .spreading {
            margin-top: 10px;
            font-family: "Lato";
            font-size: 12px;
            color: #606167;
            font-weight: 500;
            line-height: 1.9;
        }
        .cheers {
            margin-top: 55px;
            // margin-top: 40px;
            font-family: "Lato";
            font-size: 12px;
            color: #606167;
            font-weight: 700;
            line-height: 1.9;
            margin-bottom: 0;
        }
        .appinventiv {
            font-family: "Lato";
            color: blue;
        }
    }
    .birthday {
        margin-top: 20px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        padding: 20px;
        color: black !important;
        margin-bottom: 10px;
        .dear{
            font-family: "Lato";
            font-size: 12px;
            color: #606167;
            font-weight: 700;
            line-height: 1.9;
            margin-bottom: 10px;
        }
        h4 {
            font-family: "Lato";
            font-size: 12px;
            color: #606167;
            font-weight: 500;
            line-height: 1.9;
        }
        .cheers {
            margin-top: 40px;
            font-family: "Lato";
            font-size: 12px;
            color: #606167;
            font-weight: 700;
            line-height: 1.9;
            margin-bottom: 0;
        }
        .appinventiv {
            color: blue;
            font-size: 15px;
            // margin-top: 20px;
        }

        // height: 400px;// width: 300px;
        .dots {
            display: flex;
        }
       
    }
}
