<div class="main">
    <div class="first-header">
        <div class="user-image">
            <img src="/assets/images.png">
        </div>
        <div class="user-information">
            <h1>Shivam chahar</h1>
            <strong>Email : </strong><span>Shivam.chahar@appinventiv.com</span><br>
            <strong>Employee ID: </strong><span>AI1610</span><br>
            <strong>Designation : </strong><span>Software Engineer</span><br>
            <strong>Last Login : </strong><span>Jan-31-2023 10:39 AM from 172.31.30.204</span><br>
        </div>
    </div>
    <div class="center">
        <div class="left-center">
            <div class="basic-information">
                <a routerLinkActive="router-link-active" routerLink="/layout/my-profile/basic-information">
                    <mat-icon>account_circle</mat-icon>
                    <p>Basic Information</p>
                </a>
                <a routerLinkActive="router-link-active" routerLink="/layout/my-profile/profile-picture">
                    <mat-icon>add_a_photo</mat-icon>
                    <p>Prof Picture</p>
                </a>
                <a routerLinkActive="router-link-active" routerLink="/layout/my-profile/qualification">
                    <mat-icon>book</mat-icon>
                    <p>Qualification</p>
                </a>
                <a routerLinkActive="router-link-active" routerLink="/layout/my-profile/shift">
                    <mat-icon>camera</mat-icon>
                    <p>Shift</p>
                </a>
                <a routerLinkActive="router-link-active" routerLink="/layout/my-profile/change-password">
                    <mat-icon>key</mat-icon>
                    <p>Change Password</p>
                </a>
                <a routerLinkActive="router-link-active" routerLink="/layout/my-profile/appraisal">
                    <mat-icon>thumb_up_alt</mat-icon>
                    <p>Appraisal</p>
                </a>
            </div>
        </div>
        <div class="router">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>