.main_first {
    background-color: #f3f7fc;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 10px;
    row-gap: 10px;
    .main {
        border-radius: 5px;
        padding: 10px;
        .hiii {
            background-color: white;
            border: 1px solid lightgrey;
            padding: 20px;
            border-radius: 5px;
            span{
                color: #777777;
            }
            p{
                font-family: "Lato";
                font-size: 14px;
                color: #606167;
                font-weight: 400;
                line-height: 1.5;
            }
            .head {
                background-color: #f3f7fc;
                padding: 10px;
                .opening_img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                    }
                }

                .date_location {
                    display: flex;
                    justify-content: space-between;
                    p{
                        margin-top: 20px;
                    }
                    .location {
                        margin-top: 20px !important;
                        background-color: white;
                           height: 30px;
                           width: 135px;
                        // padding: 5px;
                        border-radius: 100px;
                        padding: 5px 0px 0px 5px;
    
                        .mat-icon {
                            color: red !important;
                            font-size: 12px;
                            margin: 0px;
                        }
                        span{
                            font-family: "Lato";
                            font-size: 12px;
                            color: #000 !important;}
                    }
                }
            }
            .opening {
                display: flex;
                justify-content: space-between;
                p{
                    font-family: "Lato";
                    font-size: 10px;
                    color: #606167;
                    font-weight: 400;
                    line-height: 1.2;
                }
                h2{
                    font-family: "Lato";
                    font-size: 16px;
                    color: #000000;
                    font-weight: 600;
                    line-height: 1.2;
                
                }
            }
            .btn22 {
                display: flex;
                justify-content: space-between;
                button:first-child {
                    background-color: white;
                    border: 1px solid lightgrey;
                    margin-right: 20px;
                    width: 400px;
                    text-align: center;
                    font-family: "Lato";
                    font-size: 14px;
                    color: #199cff;
                    font-weight: 500;
                    line-height: 1.32;
                    padding: 12px;
                    border-radius: 5px;
                }
                button {
                    background-color: #199cff;
                    width: 400px;
                    border: none;
                    font-family: "Lato";
                    font-size: 14px;
                    color: #ffffff;
                    font-weight: 500;
                    line-height: 1.32;
                    padding: 12px;
                    border-radius: 5px;
                }
            }
        }
    }
    @media screen and (max-width: 1350px) {
        display: grid;
        grid-template-columns: auto auto;
        // margin-left: 100px;
    }
    @media screen and (max-width: 900px) {
        display: grid;
        grid-template-columns: 100%;
        // margin-left: 100px;
    }
}
h1 {
    color: blue;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 500;
}
// @media screen and (min-width: 480px) {
//     .main_first {
//         display: grid;
//         grid-template-columns: auto;
//     }
// }
