<div class="right_center" *ngIf="show" [@slideInOut]>
    <h2>Appraisal Detail</h2>
    <div class="Input-fields">
        <div class="first-grid">
            <div>
                <label>Appraisal Cycle</label><br>
                <mat-form-field appearance="outline">
                    <mat-select disabled>
                        <!-- <input name="search" [(ngModel)]="searchText" autocomplete="off"> -->
                        <mat-option >
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <label>Appraisal Month</label><br>
                <mat-form-field appearance="outline">
                    <mat-select disabled>
                        <!-- <input name="search" [(ngModel)]="searchText" autocomplete="off"> -->
                        <mat-option >
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>