.main {
    .title {
        margin-top: 20px;
        color: blue;
        font-weight: 500;
    }
    .center {
        background-color: white;
        .header {
            border-bottom: 1px solid rgb(234, 234, 234);
            padding: 10px;
            display: flex;
            justify-content: space-between;
            .btn22 {
                background-color: rgba(227, 236, 243, 0.46);
                // background-color: rgba(227, 236, 243, 0.46);
                // background-color: rgba(227, 236, 243, 0.46);
                padding: 6px;
                border-radius: 7px;
                display: flex;
                // border: none;
                border-radius: 10px;
                button {
                    // background-color: rgba(227, 236, 243, 0.46);
                    border: none;
                    width: 150px;
                    font-size: 17;
                    padding: 15px;
                }
                @media screen and (max-width: 1200px) {
                    display: block ;
    
                }
            }
            @media screen and (max-width: 1200px) {
                display: grid;
                grid-template-columns: 50%;
    
               
            }
        }
    }
    .details {
        padding: 20px;
    }
    h3 {
        border: 1px solid rgb(238, 238, 238);
        padding: 10px;
        mat-icon {
            color: greenyellow;
            padding-top: 5px;
            font-size: 13px;
        }
    }
}

// background-color: blue !important;
.btn22 {
    padding: 1em;
    .active {
        background: #26B4FF !important;
        color: white !important;
        border-radius: 10px !important;
    }
}
