.main {
    border-bottom: 1px solid lightgrey;
    h1 {
        padding-left: 10px;

        color: black;
    }
    
}
.input_field {
    ::ng-deep {
        .mat-form-field {
            margin-top: 10px;
            width: 530px;
        }
    }
}
.btn22{
    button{
    min-width: 100px;
    background: #3246d3;
    color: #fff;
    font-family: 'Segoe UI';
    border-radius: 4px;
    padding: 5px 0px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    font-size: 18px;
    font-weight: 600;
    border: none;
    }
    .add{
        margin-left: 20px;
    }
}
