.main {
    // position: absolute;
    background-color: white;
    min-width: 500px;
    max-width: 1000px;
    color: #000;
    .mat-icon {
        color: red;
    }

    border-radius: 5px;
    padding: 10px;
    // min-width: 100%;
    .hiii {
        min-width: 200px;
        max-width: 500px;
        border: 1px solid lightgrey;
        padding: 20px;
        p {
            font-family: "Lato";
            font-size: 14px;
            color: #606167;
            font-weight: 400;
            line-height: 1.5;
        }
        .head {
            background-color: #f3f7fc;
            padding: 10px;
            .opening_img {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                }
            }

            .date_location {
              
                display: flex;
                justify-content: space-between;
                .location {
                    margin-top: 20px !important;
                    background-color: white;
                       height: 30px;
                       width: 135px;
                    // padding: 5px;
                    border-radius: 100px;
                    padding: 5px 0px 0px 5px;

                    .mat-icon {
                        color: red !important;
                        font-size: 12px;
                        margin: 0px;
                    }
                    span{
                        font-family: "Lato";
                        font-size: 12px;
                        color: #000 !important;}
                }
                p {
                    font-family: "Lato";
                    font-size: 12px;
                    margin-top: 20px;
                }
            }
        }
        .opening {
            display: flex;
            justify-content: space-between;
            p {
                font-family: "Lato";
                font-size: 10px;
                color: #606167;
                font-weight: 400;
                line-height: 1.2;
            }
            h2 {
                font-family: "Lato";
                font-size: 16px;
                color: #000000;
                font-weight: 600;
                line-height: 1.2;
            }
            @media screen and (max-width: 900px) {
                display: block;
            }
        }
        .btn2 {
            display: flex;
            justify-content: space-between;
            button:first-child {
                background-color: white;
                border: 1px solid lightgrey;
                margin-right: 20px;
                width: 300px;
                font-family: "Lato";
                font-size: 14px;
                color: #199cff;
                font-weight: 500;
                line-height: 1.32;
                padding: 12px;
                border-radius: 5px;
            }
            button {
                background-color: #199cff;
                width: 300px;
                border: none;
                font-family: "Lato";
                font-size: 14px;
                color: #ffffff;
                font-weight: 500;
                line-height: 1.32;
                padding: 12px;
                border-radius: 5px;

                @media screen and (max-width: 900px) {
                    margin-top: 20px;
                }
            }
            @media screen and (max-width: 900px) {
                display: block;
                margin-top: 20px;
            }
        }
    }
    @media screen and (max-width: 1200px) {
        min-width: 350px;
    }
    @media screen and (max-width: 700px) {
        max-width: 600px;
    }
    /* @media screen and (max-width: 500px) {
        max-width: 200px;
    } */
}
::ng-deep {
    .mat-dialog-container {
        padding: 0px;
    }
}
