<div class="main">
    <div class="planned">
        <h1>Planned Deliveries</h1>
        <div>
            <section class="table">
                <app-table [columns]="headings1st" [dataSource]="Datasource" [TableClass]="'planned'">hiiiii</app-table>
            </section>
        </div>
    </div>
    <div class="team_size">
        <h1>Team Detail(Team Size 13)</h1>
        <section class="table">
            <app-table [columns]="headings2nd" [dataSource]="datasource" [TableClass]="'team_size'">hiiiii</app-table>
        </section>
    </div>
</div>