<div>
    <div>
        <div class="awards">
            <div class="team">
                <mat-icon>fiber_manual_record</mat-icon>
                <h3>Appreciation for Teams</h3>
            </div>
            <div class="carosal">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide *ngFor="let event of event_list">
                        <!-- <img style="height: 200px;width:95%"[src]="event.img" alt="Random slide"> -->
                        <h4>{{event.name}}</h4>
                        <h4 class="describe">{{event.describe}}</h4>
                        <h4>{{event.thanks}}</h4>
                        <div class="btn22">
                            <button>More View</button>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>