<div class="main" *ngIf="show" [@slideInOut]>
    <div class="center">
        <div class="head">
            <img class="appinventiv" src="/assets/applogo.png">
            <div class="reset">
                <p>Reset Your Password</p>
                <div class="line"></div>
            </div>
            <p>We will send you a link to reset password</p>
            <form [formGroup]="forgetpass">
            <div class="email">
                <mat-form-field class="example-full-width">
                    <input type="email" matInput placeholder="Enter Your Email" formControlName="email">
                    <mat-error *ngFor="let error of errorMessage?.email">
                        <mat-error *ngIf="forgetpass?.get('email')?.hasError(error?.type)">
                            <mat-icon>warning</mat-icon>{{error.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="btn">
                <button>RECOVER PASSWORD</button>
            </div>
            </form>
        </div>
         <div class="btn2"  (click)="credentials()">
            <button>BACK TO LOGIN</button>
        </div>
        <div class="line"></div>
        <footer>
            <p>2023 © Appinventiv HR System</p>
        </footer>
    </div>
</div>
