<div class="main">
    <div *ngIf="!(datasource.data.length == 0)">
        <h1>
            My Referral list
        </h1>
        <section class="table">
            <app-table [columns]="headings" [dataSource]="datasource">hiiiii</app-table>
        </section>
    </div>
    <div class="No_data" *ngIf="datasource.data.length == 0">
        <div>
            <h2>No referrals yet! Checkout current job openings and refer.</h2>
            <div class="btn222">
                <button (click)="job_open()">
                    Job Openings
                </button>
            </div>
        </div>
    </div>
</div>