.main{
    h1{
        color: #26B4FF;
    }
    .floating_holiday{
        h2{
            margin-left: 20px;
            margin-right: 20px;
            border-bottom: 1px solid rgb(236, 235, 235);
        }
        padding: 20px;
        background-color: white;
    }

}