.right_center{
    background-color: white;
    // padding: 20px;
    border-radius: 10px;
    width: 100%;
    padding-bottom: 50px;
    h2{
        color: blue;
        padding: 20px;
        font-weight: 600;
        border-bottom: 1px solid rgb(235, 234, 234);
    }
    .Input-fields {
        label{
            font-size: 14px;
            font-weight: 600;
            font-family: 'Segoe UI';
            color: #2f3031;
            margin-bottom: 5px;
        }
        padding: 25px;
        ::ng-deep {
            .mat-form-field {
                width: 100%;
            }
        }
        .btn22{
            margin-top: 30px;
            button{
                background-color: #199CFF;
                color: white;padding: 10px;
                border: none;
                border-radius: 5px;
                // box-shadow: 1px 0px 0px 1px rgb(195, 193, 193);
            }
        }

    }

}
::ng-deep{
    .green-snackbar{
        background-color: green;
    }
    .red-snackbar{
        background-color: red;
        color: #000;
    }
}
// .example-full-width{
//     width: 99%;
// }