.main {
    padding: 20px;
    .head {
        display: flex;
        img {
            height: 100px;
            border: 1px solid lightgrey;
        }
        .text {
            margin-left: 20px;
            margin-top: 20px;
            p {
                font-size: 25px;
                color: gray;
            }
            h1 {
                font-weight: 600;
            }
        }
    }
    .job_opening {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        .left_head {
            display: flex;
            background-color: white;
            border: 1px solid lightgrey;
            border-radius: 5px;
            padding-right: 20px;
            // padding: 20px;
            .first_child_border {
                max-width: 550px;
                // max-height: 600px;
                padding: 20px;
                border-right: 1px dashed lightgrey;
                .ljo_head {
                    display: flex;
                    justify-content: space-between;
                    height: 40px;
                    .btn2 {
                        margin-top: 7px;
                        button {
                            padding: 5px;
                            background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
                                #199cff;
                            background-blend-mode: soft-light, normal;
                            border: 1px solid rgba(150, 165, 184, 0.2);
                            box-sizing: border-box;
                            box-shadow: 0px 1px 4px rgb(0 0 0 / 12%), inset 0px 2px 0px rgb(255 255 255 / 24%);
                            border-radius: 4px;
                            color: #ffffff;
                        }
                    }
                }
                @media screen and (max-width: 1200px) {
                    max-width: 420px;
                }
                @media screen and (max-width: 700px) {
                    max-width: 7000px;
                }
                @media screen and (max-width: 500px) {
                    max-width: 4000px;
                }
            }
            @media screen and (max-width: 700px) {
                display: block;
            }
            @media screen and (max-width: 500px) {
                max-width: 400px;
            }
        }
        .second_child {
            padding: 20px;
            // width: 500px;
            h3 {
                color: #199cff;
            }
            .referral {
                display: grid;
                grid-template-columns: 50% 50%;
                row-gap: 30px;
                column-gap: 20px;
                // width: 50%;
                .bonus {
                    background-color: #f3f7fc;
                    padding: 30px;
                    h1 {
                        text-align: center;
                        font-size: 50px;
                        color: #199cff;
                        font-weight: 600;
                        margin-top: 30px;
                    }
                   .referal{
                    color: black !important;
                    font-size: 15px;
                    font-weight: 600;
                   }
                    p {
                        font-family: "Lato";
                        font-size: 12px;
                        color: #606167;
                        font-weight: 500;
                        line-height: 1.2;
                        margin: 5px 0;
                        text-align: center;
                        // font-size: 20px;
                    }
                }
                @media screen and (max-width: 600px) {
                    display: grid;
                    grid-template-columns: auto auto;
                    row-gap: 10px;
                }
                @media screen and (max-width: 500px) {
                    display: grid;
                    grid-template-columns: auto;
                    row-gap: 10px;
                }
            }
        }
        @media screen and (max-width: 1200px) {
            display: block !important;

            .right_carosal {
                width: 100%;
                margin-top: 20px;
                // margin-right: 20px;
            }
        }
        //
    }

    .right_carosal {
        margin-left: 40px;
        // margin-right: 20px;
        border: 1px solid lightgrey;
        padding: 20px;
        width: 30%;
        color: black;
        background-color: white;
        @media screen and (max-width: 1200px) {
            margin-left: 0px;
            margin-right: 0px;
            .member {
                display: flex;
                justify-content: center;
            }
        }
    }
    .latest_at_appinventiv {
        margin-top: 20px;
        background-color: white;
        border: 1px solid lightgrey;
        border-radius: 5px;
        // width: 500px !important;
        // padding: 20px;
        h1 {
            padding: 10px;
        }
        .line {
            border-bottom: 1px solid lightgrey;
        }
    }
    .appinventiv_gallery {
        margin-top: 30px;
        margin-bottom: 20px;
        background-color: white;
        border: 1px solid lightgrey;
        .appinventiv_gallery_img {
            // position: relative;
            padding-top: 20px;
            padding-left: 30px;
            padding-bottom: 20px;
            .item {
                position: relative;
                img {
                    height: 260px;
                    width: 90%;
                }
                .gallery-name {
                    width: 100%;
                    position: absolute;
                    top: 200px;
                    display: flex;
                    justify-content: space-between;
                    // margin-right: 70px;
                    p {
                        margin-left: 20px;
                        color: white;
                        margin-top: 10px;
                        font-size: 20px;
                        font-weight: 500;
                    }
                    .btn22 {
                        margin-right: 60px;
                        button {
                            padding: 10px;
                            color: white;
                            border-radius: 20px;
                            background-color: rgba(0, 0, 0, 0.5);

                            border: 1px solid white;
                            width: 100px;
                        }
                    }
                }
            }
        }
        .line {
            height: 5px;
            border-bottom: 1px solid lightgray;
        }
        h1 {
            font-weight: 500;
            margin: 20px;
        }
    }
}
@media screen and (max-width: 1200px) {
    .main {
        .job_opening {
            display: grid;
            grid-template-columns: auto auto;
            row-gap: 20px;
        }
    }
}
