<section>
  <table mat-table *ngIf="dataSource" matSortDirection="asc" [dataSource]="dataSource" matSort [ngClass]="TableClass">
    <ng-container class="data" *ngFor="let row of columns" [matColumnDef]="row.heading">

      <ng-container *ngIf="row.sort; else notSortable">
        <th mat-header-cell *matHeaderCellDef [mat-sort-header]="row.key">{{row.heading}}</th>

      </ng-container>
      <ng-template #notSortable>
        <th mat-header-cell *matHeaderCellDef style="text-align: center;" >{{row.heading}}</th>

      </ng-template>
      


      <td mat-cell *matCellDef="let element; let i=index">
        <ng-container class="value" [ngSwitch]="row.type">
          <ng-container *ngSwitchCase="'text'">
            {{element[row.key]}}
          </ng-container>
          <ng-container *ngSwitchCase="'html'" >
            <!-- {{element[row.key]}} -->
            <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(element[row.key])"></div>
          </ng-container>
          <ng-container *ngSwitchCase="'link'">
            <a routerLink="/layout/project-details">{{element[row.key]}}</a>
          </ng-container>
          <ng-container *ngSwitchCase="'action'">
            <div class="actionIcon">
              <ng-container *ngFor="let icon of row.action; let i=index;">
                <div *ngIf="icon==1">
                  <span>Download</span>
                  <mat-icon class="mat-18">get_app</mat-icon>
                </div>
                <div *ngIf="icon==2" class="pending" (click)="dsr_pending()">
                  <span>Pending</span>
                </div>
                <div *ngIf="icon==3">
                  <mat-icon (click)="dsr_updated()">create</mat-icon>
                </div>
                <div *ngIf="icon==4">
                  <mat-icon (click)="leave_details()">forward</mat-icon>
                </div>
                <!-- <mat-icon>get_app</mat-icon> -->
              </ng-container>

            </div>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="matHeaderRow"></tr>
    <tr mat-row *matRowDef="let row; columns: matHeaderRow;"></tr>
    <tr class="noData" class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="9">No data available in table</td>
    </tr>
  </table>
  <mat-paginator appCustompaginators [pageSizeOptions]="paginationSizes" [pageSize]="defaultPageSize"
    [hidePageSize]="true">
  </mat-paginator>
</section>