.main{
   background-color: white;
   margin-left: 20px;
   margin-right: 20px;
   .head{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        margin-top: 20px;
        margin-bottom: 20px;
        @media screen and (max-width: 1200px) {
            width: 50%;
            // margin-left: 100px;
          }
    }
   

   }
}